<div class="container">

    <h1 class="text-center text-white mt-5 display-1"> {{movie.original_title}}</h1>
    <hr class="text-white">
    <!-- Horizontal card layout -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-primary me-md-2" [routerLink]="['/']" type="button">Volver</a>
    </div>
    <div class="card mt-3 bg-dark p-2" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-6 text-white">
                <img [src]=img class="img-fluid rounded-start" alt="...">
                <p class="card-text fs-5 mt-5"> Estreno: <span class="text-warning">{{movie.release_date | date }} </span> </p>
                <p class="card-text fs-5 mt-5"> AVE: <span class="text-warning">{{movie.vote_average}} </span> <img style="height: 30px" src="../../../assets/img/star.png" alt=""></p>


            </div>
            <div class="col-6">
                <div class="card-body text-white">
                    <p class="card-title fs-3">Genero </p>

                    <span class="fs-5" *ngFor="let item of movie.genres">{{item.name }} ,</span>
                    <br>
                    <hr>
                    <span class="card-title fs-3">Description </span>
                    <p class="card-text fs-5">{{movie.overview}} </p>

                    <p class="fs-3"> Pais : {{movie.origin_country}} </p>

                </div>
            </div>
        </div>
    </div>
</div>
